*{margin: 0;padding: 0;}
html{overflow-y: scroll;}
body {color: #333;font-family:'Microsoft YaHei','微软雅黑','SimSun',"宋体",serif;}
li{list-style:none;}
a{text-decoration: none;}
img{border: none;}
.clear{clear: both;}
.header{
	margin: 0 auto;
	height: 160px;
	background: url(../images/Baner.png);
}
.header_t{
	margin: 0 auto;
	width: 1180px;
}
.header_t .logo{
	margin-top: 25px;
	float: left;
	width: 400px;
}
.header_t #logo_t{
	margin-left: 40px;
	width: 306px;
	height: 87px;
}

.header_t .nav{
	float: left;
	margin: 18px 0 0 100px;
    height: 71px;
}
.header_t .nav span{
	background-image: url("../images/nav_06.png");
    display: inline;
    padding: 0 10px;
    float: left;
    height: 71px;
    width: 80px;
    border-right: 1px solid #b0bac4;
}
.home{background-position: 0 0;border-left: 1px solid #b0bac4;}
.enjoy{background-position: -100px 0;}
.college{background-position: -200px 0;}
.trade{background-position: -300px 0;}
.purchase{background-position: -400px 0;}

.header_b{
	background-color: #004066;
    height: 28px;   
    line-height: 28px;
    margin-top: -8px;
    position: relative;
    z-index: 3;
    color: #fff;
    font-size: 14px;
}
.header .myspan{width: 480px;float: right;}
.header_b a{color: #fff;}
.header_b a:hover{color: #f00;}
.header_b .login a{padding: 0 8px;}
.header_b a img{margin-right: 4px;}
.header_b span{margin-right: 25px;}

/*.search{
    background: url("../images/s_border.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 28px;
    margin: 125px 0 0;
    position: relative;
    right: 493px;
    width: 135px;
}
.search input{
	border: 3px solid #b8c5cd;
	width: 345px;
	height: 21px;
	position: relative;
	left: 13px;
	background-color: transparent;
}*/
/*搜索区*/
.searchdiv{		
	margin: 28px 0 11px 100px;
	float: left;
}
.searchform{
	width: 460px;
/*	box-sizing:border-box;*/
	border:2px solid #0064a6;
	height: 25px;
	background-color: #fff;
	display: block;
}
.box{

	vertical-align: middle;
	text-align: center;
	/*针对ie的hack*/
	*display: block;
	*font-size:27px;
	*font-family: Arial;/*防止非utf-8引起的hack失效问题 */
	width: 30px;
	height: 25px;
}

.search-submit{
	float:left;
	cursor:pointer;
	height: 25px;
	width: 34px;
	border: none;
	background: transparent url(../images/search-submit.png) no-repeat 0px 0px;
	border-right: 1px solid #cccccc;
}
.search-input{
	background: none repeat scroll 0 0 #ffffff;
	width: 353px;
	height: 100%;
	float: left;
	left: -71px;
	border: none;
	font-size: 100%;
	padding-left: 10px;
	outline: none;/**/
}
.search-button{
	float: left;
	right: 0;
	width: 63px;
	border:none;
	height: 25px;
	line-height: 25px;
	background: repeat scroll 0 0 #0064a6;
	text-align: center;
	font-size: 14px;
	color: #ffffff;
	font-family: 'SimSun','宋体';
	cursor: pointer;
}
.searchdiv #hot_search{
	height: 22px;
	font-family: 'NSimSun','新宋体';
	font-size: 12px;
	color: #636363;
	padding-top: 5px;
}	
#hot_search a{
	text-decoration: none;
	color: #000000;
}
#hot_search a:hover{
	color: red;
}
.wrapper{
	width: 1180px;
	margin: 0 auto;
}

/*图片轮播*/
.wrapper_one{
	position: relative;
	width: 1180px;
	height: 529px;
	float: left;
	overflow: hidden;
}
.slide {
	position: relative;
	width: 7000px;
	height: 529px;
	
}

.slide img{width: 1180px;height: 529px;}
.spanBtn b{
	position: absolute;
	top: 227px;
	width: 35px;
	height: 35px;
	opacity: 0.75;
	cursor: pointer;
}
.spanBtn .prev{
	margin-left: 10px;
	left: 0;
	background: url(../images/prev.png) no-repeat;
}
.spanBtn .next{
	margin-right: 10px;
	right: 0;
	background: url(../images/next.png) no-repeat;
}
.pagination {
	list-style: none;
	z-index:9999;
	position: absolute;
	bottom: 10px;
	left:552px;
}
.pagination li {
	float: left;
	margin: 0 1px;
}
.pagination li a {
	display: block;
	width: 13px;
	height: 0;
	padding-top: 13px;
	background-position: 0 0;
	float: left;
	overflow: hidden;
	background-image: url(../images/circle.png);
}  
.pagination li.current a,.pagination li.current a:hover { 
	background-position: -16px -0px 
}
.pagination li a:hover { 
	background-position: 0px -0px 
}

/*作品欣赏*/
.wrapper_two,.wrapper_three,.wrapper_four,.wrapper_five{
	margin: 32px auto 0;
}
.title{height: 57px;}
.title_l,.title_c,.title_r{
	display: block;
	float: left;
}

.title .title_l{
	position: relative;
	background: url(../images/title.png);
	width: 132px;
	height: 57px;
	color: #004066;
}
.title .title_l h2{
	position: absolute;
	left: 15px;
	top: 10px;
}
.title .title_c{
	border: 1px solid #687693;
	height: 0;
	width: 80%;
	margin: 28px 25px;

}
.title .title_r {
	line-height: 57px;
	color: #004066;
	font-size: 14px;
	font-family: "黑体";
}
.title a:hover{color: #f00;}

.clearfix:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
}
.clearfix {
    zoom: 1;
}
.Smenu2{
    width: 100%;
    clear: both;
    margin-top: 20px;
}
.SmenuTitle{
	margin-left: 70px;
    border-bottom: 2px solid #eee;
    height: 28px;
    position: relative;
}
.SmenuTitle ul{
    margin-left: 0;
    padding-left: 0;
}
.SmenuTitle ul li{
    float:left;
    width: 114px;
    text-align: center;
    padding-bottom: 8px;
}
.SmenuTitleOn0{
    border-bottom: 3px solid #00b5fd;
    margin-top: -2px;

}
.SmenuTitle ul li a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
}
.SmenuContent{
    width: 100%;
    display: inline-block;
    margin-top: 10px;
}
.SmenuCont{
    display: none;
    margin: 40px 0;
}
.SmenuCont .SmenuImg img{
    width: 202px;
    height: 302px;
}
.SmenuContentOn0{
    display: block;
    width: 100%;
}

.SmenuContent ul li{
    width: 202px;
    float: right;
	margin-left: 26px;
}

.SmenuContent ul li p{
    text-align: center;
    line-height: 27px;
    font-size: 12px;
    color: #8a6e5d;
}

.SmenuImg{
    position: relative;
}
.SmenuCont p{
	float: left;
	display: block;
	width: 100%;
}
.tip{
    position: absolute;
    width: 40px;
    height: 26px;
    top: 0;
    right: 16px;
    background: url("../images/tip.png") no-repeat;
    text-align: center;
    color: #FFF;
    font-size: 12px;
    line-height: 19px;
}
.border_b{
	margin-bottom: 35px;
	display: block;
	height: 90px;
	width: 200px;
	border-bottom: 2px solid #d2d0cf;
	border-right: 2px solid #d2d0cf;
}

/*晴天学院*/
.content_t{
	margin-top: 30px;
	font-size: 12px;
}
.content_t li{
	float: left;
	margin-left: 55px;
	position: relative;
}
.content_t .Img_t img{
	width: 239px;
	height: 179px;
}
.content_t .state_t{
	background-color: #000;
    display: block;
    float: left;
    height: 50px;
    opacity: 0.25;
    position: absolute;
    z-index: 5;
    top: 129px;
    width: 239px;
}
.content_t .Img_t p{
	margin: 15px 0 0 10px;
	position: absolute;
	z-index: 15;
	color: #fff;
	top: 129px;
	font-weight: bold;

}
.content_t .state_b{
	width: 239px;
}
.content_t .state_b strong{font-size: 13px;}
.content_t .state_b p{line-height: 23px;margin-top: 5px;}
.content_t .state_b a{
	display: block;
	float: right;
	width: 72px;
	color: #fff;
	background-color: #eacbb6;
	text-align: center;
}
.content_t .state_b a:hover{background-color: #f5bfd7}

/*商品交易*/
.content_l{
	float: left;
	margin: 20px 0 0 55px;
}

.big_img,.big_img a,.big_img img{
	display: block;
	width: 517px;
	height: 324px;
	overflow: hidden;
}
.small_img{
	height: 65px;
}
.small_img a{
	margin-top: 8px;	
	display: block;
	float: left;
	width: 97px;
	height: 65px;
	opacity: 0.5;
}
.small_img .current_b{opacity: 1;}
.small_img a+a{margin-left: 8px;}
.small_img img{
	width: 98px;
	height: 65px;
}

/*底部*/
.footer{
	position: relative;
	margin: 0 auto;
	height: 427px;
	width: 100%;
	background: url(../images/footer.png);
}
.footer .bg{
	height: 170px;
	position: absolute;
	bottom: 0;
	width: 100%;
	opacity: 0.5;
	background-color: #000;
}
.footer .grid_row{

	position: absolute;
	bottom: 0;
	left: 200px;
	height: 150px;

}
.footer .logo_b{
	float: left;
	margin: 10px 120px 0 0;
	width: 211px;
	height: 60px;
}
.row{float: left;margin-right: 100px;}
.grid_row li a{
	display: block;
	color: #fff;
	line-height: 25px;
	text-align: left;
}
.grid_row li a img{
	margin-right: 5px;
}
/******首页图片轮播***june***start***/
.slide {
	width:1180px;
	height:100%;
	margin:0 auto;
	position: relative;
}
.slide_main{
	width:1180px;
	height:auto;
	position: absolute;
	left:0;
	top:0;
}
.slide_main li a img {
	display:block;
	width:1180px;
	height:529px;
	position: absolute;
	left:0;
	top:0;
}
.slide_span {
	width:1180px;
	height:35px;
	position: absolute;
	left:0;
	bottom:0;
	zoom:1;
}
.slide_span span {
	width:15px;
	height:15px;
	display:block;
	float:left;
	margin-left:10px;
	background: url(../images/dot.png) no-repeat left bottom;
}
.slide_span p {
	width:100%;
	height:35px;
	margin:10px auto;
}
.slide_span .slide_span_one{
	background: url(../images/dot.png) no-repeat left top;
}
.slide_left {
	width:60px;
	height:90px;
	cursor: pointer;
	background:#000 url(../images/ad_ctr.png) no-repeat 5px -180px;
	filter:alpha(opacity:50);opacity:0.5;
	position: absolute;
	left:0;
	top:205px;
	display:none;
}
.slide_left1 {
	background:#000 url(../images/ad_ctr.png) no-repeat 3px top;
}
.slide_right {
	width:60px;
	height:90px;
	cursor: pointer;
	background:#000 url(../images/ad_ctr.png) no-repeat -5px bottom;
	filter:alpha(opacity:50);opacity:0.5;
	position: absolute;
	right:0;
	top:205px;
	display:none;
}
.slide_right1 {
	background:#000 url(../images/ad_ctr.png) no-repeat -3px -90px;
}
/*首页图片轮播***june***end*/